@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
body {
  background-color: #14213d;
  color: #ffffff;
  font-family: 'Graduate', cursive;
}
nav :hover {
  color: rgb(0, 0, 0);
  transition: 0.2s;
  text-decoration: underline;
}
